# Having to update due to compatibility issues with the latest version of Flask
# Adding MarkupSafe and itsdangerous and werkzeug.wrappers to the requirements.txt file

SQLAlchemy==1.3
Flask==1.1.2
Flask-User==1.0.2.2
pycodestyle==2.5.0
bcrypt==3.2
requests==2.25
